*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}