$themes: (
    light:(
        textColor: #000,
        bg: white,
        logo: darkblue,
        bgSoft: #f6f3f3,
        textColorSoft: #555,
        border: lightgrey,
    ),
    dark:(
        textColor: whitesmoke,
        bg: #222,
        logo: white,
        bgSoft: #333,
        textColorSoft: lightgrey,
        border: #444,
    )
);



@mixin theify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: map-get($themes, $theme) !global;
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}